*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .contenitore-blu-scuro{
    background-color: rgba(44,62,80,255);
}

.primo-titolo{
    font-size: 20px;
}

.contenitore-azzurro{
    background-color: rgba(26,188,156,255);
}

.contenitore-immagine img{
    width: 100%;
    border-radius: 20px;
}

.contenitore-blu-chiaro{
    background-color: rgba(58,84,109,255);
}